// Color
$default-heading-color: #272c40;

$default-color: #8c8b90; 

$color-white: #fff;

$nav-hover: #f45d64;

// Font
$default-font-family: 'Rubik', sans-serif; 

$default-font-size: 18px;

$default-mid-font: 16px;

$default-sm-font: 14px;

$default-mid-size: 20px; 

$hero-font: 73px; 

$mid-font: 50px; 

$hero-paragraph: 25px; 

$h2-paragraph: 30px; 

$font-style-normal: normal;

$font-weight-sm: 100;

$font-weight-sml: 400;

$font-weight-m: 600;

$font-weight-md: 700;

$font-weight-l: 800; 

$font-weight-lg: 900;

$bold: bold; 

// Buttons
$btn-color: #5267da;
$btn-font-size: 14px;
$btn-font-fam: 'Rubik', sans-serif;

// Borders 
$black-border: #000;
