// features
.feature {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include respond(tab-land) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__briefing {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-bottom: 25px;

        @include respond(tab-land) {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding-bottom: 25px;
        }

        h2 {
            color: $default-heading-color;
            font-weight: $font-weight-m;
            font-size: $hero-paragraph;
            text-align: center;

            @include respond(tab-land) {
                font-size: $h2-paragraph;
                color: $default-heading-color;
                font-weight: $font-weight-m;
            }
        }

        p {
            font-size: $default-sm-font;
            font-weight: $font-style-normal;
            line-height: 28px;
            text-align: center;

            @include respond(tab-land) {
                font-size: $default-font-size;
                width: 550px;
                font-weight: $font-style-normal;
                line-height: 28px;
            }
        }
    }

    &__tab {
        &__btns {
            padding-bottom: 50px;

            @include respond(tab-land) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-bottom: 50px;
            }
        }

        &__btn {
            display: flex;
            flex-direction: column;

            @include respond(tab-land) {
                display: flex;
                flex-direction: row;
            }
        }

        &__extra {
            border: none;

            @include respond(tab-land) {
                border-bottom: 2px solid $default-color;
                border-radius: 6px;
                width: 59.9%;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        display: none;

        @include respond(tab-land) {
            display: flex;
            flex-direction: row;
            gap: 100px;
            align-items: center;
            display: none;
        }

        &__img {
            img {

                // height: 200px;
                // margin: 0 auto;
                // display: flex;
                @include respond(phone) {
                    height: 180px;
                }
            }
        }

        &__briefing {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 15px;
            padding: 30px;

            @include respond(tab-land) {
                display: flex;
                flex-direction: column;
                text-align: left;
                gap: 20px;
            }

            h2 {
                color: $default-heading-color;
                font-weight: $font-weight-m;
                font-size: $hero-paragraph;

                @include respond(tab-land) {
                    font-size: $h2-paragraph;
                    color: $default-heading-color;
                    font-weight: $font-weight-m;
                }
            }

            p {
                font-size: $default-sm-font;
                font-weight: $font-style-normal;
                line-height: 28px;

                @include respond(tab-land) {
                    font-size: $default-font-size;
                    font-weight: $font-style-normal;
                    line-height: 28px;
                }
            }
        }
    }
}

// Pricing
.pricing {
    padding: 60px 0px;
    display: flex;
    align-items: center;

    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
        justify-content: center;
        text-align: center;
    }

    &__briefing {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        @include respond(tab-land) {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }

        h2 {
            color: $default-heading-color;
            font-weight: $font-weight-m;
            font-size: $hero-paragraph;
            text-align: center;

            @include respond(tab-land) {
                font-size: $h2-paragraph;
                color: $default-heading-color;
                font-weight: $font-weight-m;
            }
        }

        p {
            font-size: $default-sm-font;
            font-weight: $font-style-normal;
            line-height: 28px;
            text-align: center;

            @include respond(tab-land) {
                font-size: $default-font-size;
                width: 550px;
                font-weight: $font-style-normal;
                line-height: 28px;
            }
        }
    }

    &__downloads {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 50px;

        @include respond(tab-land) {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }

        &__category {
            display: flex;
            flex-direction: column;
            gap: 25px;
            background: $color-white;
            box-shadow: 0px 10px 20px -1px rgba(140, 139, 144, 0.52);
            padding: 20px 0px;
            width: 100%;
            border-radius: 5px;

            &__text {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    font-size: '';
                    color: $default-heading-color;
                    font-weight: $font-weight-m;
                }

                p {
                    font-size: $default-mid-font;
                    font-weight: $font-style-normal;
                }
            }
        }
    }

}

// Contact
.contact {
    padding: 60px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    // padding-bottom: 60px;

    &__briefing {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        @include respond(tab-land) {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }

        h2 {
            color: $default-heading-color;
            font-weight: $font-weight-m;
            font-size: $hero-paragraph;
            text-align: center;

            @include respond(tab-land) {
                font-size: $h2-paragraph;
                color: $default-heading-color;
                font-weight: $font-weight-m;
            }
        }

        p {
            font-size: $default-sm-font;
            font-weight: $font-style-normal;
            line-height: 28px;
            text-align: center;

            @include respond(tab-land) {
                font-size: $default-font-size;
                width: 550px;
                font-weight: $font-style-normal;
                line-height: 28px;
            }
        }
    }


    &__faq {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        width: 100%;

        @include respond(tab-land) {
            width: 50%;
        }

        &__questions {
            border-top: 1px solid $default-color;
            padding: 20px 0px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            &__title {
                display: flex;
                justify-content: space-between;
                color: $default-heading-color;

                &:hover {
                    color: $nav-hover;
                }
            }

            &__btn {
                color: $btn-color;
                font-size: $default-font-size;
                background: transparent;
                border-color: transparent;
                cursor: pointer;
            }

            &__text {
                display: none;
            }
        }

        &__btn {
            padding-bottom: 100px;
        }
    }
}

// Login
.login {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    text-align: center;
    color: $color-white;
    background-color: $btn-color;


    &__briefing {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            font-weight: $font-weight-m;
            font-size: $hero-paragraph;
            text-align: center;
            width: auto;

            @include respond(tab-land) {
                font-size: $h2-paragraph;
                color: $color-white;
                font-weight: $font-weight-m;
                text-align: center;
                width: 450px;
            }
        }

        p {
            font-size: $default-sm-font;
            font-weight: $font-style-normal;
            line-height: 28px;
            text-align: center;

            @include respond(tab-land) {
                font-size: $default-font-size;
                font-weight: $font-style-normal;
                line-height: 28px;
                letter-spacing: 1px;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        @include respond(tab-land) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
        }
    }
}

.active {
    display: flex;
    color: $default-heading-color;
    justify-content: center;
}

.down {
    position: relative;
    top: 30px;
}

.downs {
    padding-bottom: 70px;
    position: relative;
    top: 60px;
}

@media screen and (max-width: 1200px) {
    .feature__tab__extra {
        border: none;
    }
}

// extra
.show-links {
    height: 10rem;
}

.show-text .contact__faq__questions__text {
    display: block;
}

.down-icon {
    display: none;
}

.show-text .down-icon {
    display: inline;
    color: $nav-hover;
}

.show-text .up-icon {
    display: none;
}